*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    align-items: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    background-color: #443C68;
    align-items: center;
    text-align: center;

}

.container {
    width: 96%;
    margin: 1rem auto;
    max-width: 730px;

    box-shadow: black 0px 3px 6px, #635985 0px 3px 6px;

    background-color: #181D31;
}

/* header */
header {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
}

header a h1 {

    color: #16213E;
    font-size: 1.4rem;
}

header a h1:hover {
    color: rgb(5, 30, 34);
    text-decoration: underline;
}


/* my-form */
.convert-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
}

.convert-form>div {
    margin-bottom: 1.2rem;
}

label,
span {
    display: block;
    margin-bottom: .5rem;
}

.display-result {
    height: 1.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-degree,
#degree-type,
#convert-type,
.convert-btn {
    padding: .5rem .6rem;
    font-size: 1.2rem;
    width: 12rem;
    border-radius: 5px;
}

.input-degree,
#degree-type,
#convert-type {
    background-color: rgb(251, 255, 255);
    outline: none;
    border: 2px solid rgb(187, 204, 186);
}

.convert-btn {
    color: rgb(249, 251, 248);
    background-color: #443C68;
    border: 2px solid #443C68;
    margin-left: 220px;
    align-content: center;
    text-align: center;
}

.error {
    color: red;
    text-transform: capitalize;
    padding: 1rem 3rem;
    line-height: 1.5;
    height: 2rem;
}

.display {
    padding: 1rem 3rem;
}

.display-result {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}